<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <div class="hero-image">
        <img class="sky" alt="The sky above the ocean" src="/images/hero-sky.png"/>
        <img class="cloud cloud-1" alt="A grayish-blue cloud" src="/images/hero-cloud.png"/>
        <img class="cloud cloud-2" alt="Another grayish-blue cloud" src="/images/hero-cloud.png"/>
        <img class="ship" alt="A ship hovering a few feet over the surface of the water, bearing a flagpole with the Sails.js logo" src="/images/hero-ship.png"/>
        <img class="water" alt="The shadow of the floating ship on the water" src="/images/hero-water.png"/>
      </div>
      <h1 class="display-4">Stop<strong>Covid</strong> </h1>
      <div>
        <div class="more-info-text" @click="clickHeroButton()">
          <div class="text">Voir publication</div>
          <div class="icon">&darr;</div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="setup">
      <h3 class="text-center">Les publications du jours</h3>
      <div class="step">
        <div class="step-image">
        <img alt="computer with email symbol on screen" src="/images/setup-email.png"/>
        </div>
        <h5>Blablabla</h5>
        <p>Est interdum praestare mercaturis rem quaerere ni tam periculosum siet; et item foenerari, si tam honestum siet.</p>
        <p><code></code></p>
        <blockquote><small>alamitosum. At ex agricolis et viri fortissimi et milites strenuissimi gignuntur, maximeque p</small></blockquote>
      </div>
      <div class="step">
        <div class="step-image">
        <img alt="computer with email symbol on screen" src="/images/setup-payment.png"/>
        </div>
        <h5>Blablabla</h5>
        <p>Est interdum praestare mercaturis rem quaerere ni tam periculosum siet; et item foenerari, si tam honestum siet.</p>
        <p><code></code></p>
        <blockquote><small>alamitosum. At ex agricolis et viri fortissimi et milites strenuissimi gignuntur, maximeque p</small></blockquote>
      </div>
      <div class="step">
        <div class="step-image">
        <img alt="computer with email symbol on screen" src="/images/setup-customize.png"/>
        </div>
        <h5>Blablabla</h5>
        <p>Est interdum praestare mercaturis rem quaerere ni tam periculosum siet; et item foenerari, si tam honestum siet.</p>
        <p><code></code></p>
        <blockquote><small>alamitosum. At ex agricolis et viri fortissimi et milites strenuissimi gignuntur, maximeque p</small></blockquote>
      </div>
    </div>
    <hr/>
    <div class="pep-talk text-center">
      <h3>Message contre le covid-19</h3>
      <p>Praedium quum parare cogitabis, sic in animo habeto, uti ne cupide emas, neve opera tua parcas visere et ne satis habeas semel circumire. Quoties ibis, toties magis placebit, quod bonum erit. Vicini quo pacto niteant, id animum advertito: in bona regione bene nitere oportebit</p>
      <p><span class="text-muted">&hearts;</span> <a href="https://sailsjs.com/about">Our Team</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
